{% extends 'shop/basic.html' %}

{% block title %} this is about{% endblock %}


{% block body %} 
  
{% load static %}
<!-- About 1 - Bootstrap Brain Component -->
    

<section class="py-3 ">
    <div class="container">
        
      <div class="row gy-3 gy-md-4 gy-lg-0 align-items-lg-center">
        <div class="col-12 col-lg-6 col-xl-5 " style="background-color: #008080 ">
  <img class="img-fluid rounded" loading="lazy" src="{% static 'shop/mizaan.png' %}" alt="About 1">
        </div>
                <div class="col-12 col-lg-6 col-xl-7">
          
            <div class="row justify-content-xl-center">
            <div class="col-12 col-xl-11">
          
            <h2 class="mb-5  ">About Us</h2>      
              <h4 class="mb-3">Welcome To Mizaan Classic</h4>
              <p class=" fs-5 text-justify  mb-3">At Mizaan Classic, we believe in the power of creativity and self-expression through fashion. Founded with a passion for delivering high-quality, personalized t-shirts, we cater to individuals and businesses looking to stand out and make a statement.
            </p>

            <h4 class="mb-2 mt-4 ">Our Story</h4>
              <p class=" fs-5  mb-3 text-justify">Our journey began with a simple idea: to transform ordinary t-shirts into personalized works of art. What started as a home-based operation quickly grew into a full-fledged startup, driven by our commitment to craftsmanship and customer satisfaction. Today, we proudly serve a diverse clientele, from local artists and small businesses to corporate teams and event organizers.
            </p>  
          </div>
        </div>
      </div>
    </div>
    
    <h4 class=" mt-4 mb-3">What We Offer</h4>
    <div class="row gy-4 gy-md-0 gx-xxl-5X">
        <div class="col-12 col-md-4 mb-3">
          <div class="d-flex">
            <div class="me-4 text-primary">
              <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-gear-fill" viewBox="0 0 16 16">
                <path d="M9.405 1.05c-.413-1.4-2.397-1.4-2.81 0l-.1.34a1.464 1.464 0 0 1-2.105.872l-.31-.17c-1.283-.698-2.686.705-1.987 1.987l.169.311c.446.82.023 1.841-.872 2.105l-.34.1c-1.4.413-1.4 2.397 0 2.81l.34.1a1.464 1.464 0 0 1 .872 2.105l-.17.31c-.698 1.283.705 2.686 1.987 1.987l.311-.169a1.464 1.464 0 0 1 2.105.872l.1.34c.413 1.4 2.397 1.4 2.81 0l.1-.34a1.464 1.464 0 0 1 2.105-.872l.31.17c1.283.698 2.686-.705 1.987-1.987l-.169-.311a1.464 1.464 0 0 1 .872-2.105l.34-.1c1.4-.413 1.4-2.397 0-2.81l-.34-.1a1.464 1.464 0 0 1-.872-2.105l.17-.31c.698-1.283-.705-2.686-1.987-1.987l-.311.169a1.464 1.464 0 0 1-2.105-.872l-.1-.34zM8 10.93a2.929 2.929 0 1 1 0-5.86 2.929 2.929 0 0 1 0 5.858z" />
              </svg>
            </div>
            <div>
              <h2 class="h5 mb-3"> Customization Expertise:</h2>
              <p class=" mb-0 text-justify">Whether you need a single custom T-shirt or a bulk order for an event, our team is here to bring your vision to life. We offer a range of printing techniques, including Heat Transfer, and Sublimation Printing, ensuring crisp, vibrant designs on every T-shirt.</p>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-4 mb-3">
          <div class="d-flex">
            <div class="me-4 text-primary">
              <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-fire" viewBox="0 0 16 16">
                <path d="M8 16c3.314 0 6-2 6-5.5 0-1.5-.5-4-2.5-6 .25 1.5-1.25 2-1.25 2C11 4 9 .5 6 0c.357 2 .5 4-2 6-1.25 1-2 2.729-2 4.5C2 14 4.686 16 8 16Zm0-1c-1.657 0-3-1-3-2.75 0-.75.25-2 1.25-3C6.125 10 7 10.5 7 10.5c-.375-1.25.5-3.25 2-3.5-.179 1-.25 2 1 3 .625.5 1 1.364 1 2.25C11 14 9.657 15 8 15Z" />
              </svg>
            </div>
            <div>
              <h2 class="h5 mb-3">Quality Assurance:</h2>
              <p class="text-justify mb-0">Each T-shirt that leaves our workshop undergoes rigorous quality checks to ensure it meets our standards of excellence. We use only the finest materials and printing technologies to deliver products that not only look great but also stand the test of time.</p>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-4 mb-3">
            <div class="d-flex">
              <div class="me-4 text-primary">

                <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32"  fill="currentColor" class="bi bi-person" viewBox="0 0 16 16">
                    <path d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6m2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0m4 8c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4m-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10s-3.516.68-4.168 1.332c-.678.678-.83 1.418-.832 1.664z"/>
                  </svg>
              </div>
              <div>
                <h2 class="h5 mb-3">Customer Focus:</h2>
                <p class=" mb-0 text-justify">Your satisfaction is our priority. We work closely with you throughout the design and printing process to ensure every detail is perfect. Our goal is to exceed your expectations, whether you’re ordering one T-shirt or one hundred.</p>
              </div>
            </div>
            
          </div>

      </div>
      
      <h4 class="mb-2 mt-4">Print-On-Demand Service</h4>
      <p class="text-justify fs-5  mb-3">For our print-on-demand service, please contact us with your preferred T-shirt size and color. Note that all custom-printed T-shirts are non-returnable. Reach us at <a href="">+919373853313</a> for any inquiries or orders.</p>

      <h4 class="mb-2 mt-4">Our Mission</h4>
      <p class="text-justify fs-5  mb-3"> At Mizaan Classic, we are on a mission to empower individuals and businesses to express themselves through custom apparel. We believe that every T-shirt tells a story and reflects the unique personality of its wearer. By combining creativity with craftsmanship, we aim to inspire confidence and creativity in everyone who wears our products.   </p>    

      <h4 class="mb-2 mt-4">Get in Touch</h4>
      <p class="text-justify fs-5  mb-3"> Ready to turn your ideas into wearable art? Explore our range of services or <a href="/shop/contact">Get in Touch</a> with our friendly team today. Let’s create something extraordinary together! </p>    

      
      
    </div>
    
  </section>
{% endblock %}
