{% extends 'shop/basic.html' %}

{% block title %} this is notification{% endblock %}


{% block body %} 
{% load static %}
<!-- Ordered Products Section -->

<div class="container my-5">
    <h3 class="bg-dark text-white  text-center mb-4">Ordered Products</h3>
    <div class="row justify-content-center">
        {% for order in allOrders %}
            <div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-3">
                <div class="card">
                    <p class=""> {{ order.msg_id }}</p>                    
                    <div class="card-body">
                        <h3><a href="{{ order.imgPath }}">
                            <i class="fa fa-image" style="font-size:3   8px;color:red"></i> image</a></h3>
                        <input type="text" name="imgPath" value="{{ order.imgPath }}" readonly>
                        <p class=""><strong>Product Description:</strong> {{ order.allDesc }}</p>
                        <br>                        
                         <h4><b>Customer details:</b> </h4>
                        <p class=""><strong>First Name:</strong> {{ order.firstName }}</p>
                        <p class=""><strong>Last Name:</strong> {{ order.lastName }}</p>
                        <p class=""><strong>Phone:</strong> {{ order.phone }}</p>
                        <p class=""><strong>Alternate Phone:</strong> {{ order.alternate_phone }}</p>
                        <p class=""><strong>Address:</strong> {{ order.address }}</p>
                        <p class=""><strong>Address 2:</strong> {{ order.address2 }}</p>
                        <p class=""><strong>City:</strong> {{ order.city }}</p>
                        <p class=""><strong>State:</strong> {{ order.state }}</p>
                        <p class=""><strong>Pin:</strong> {{ order.pin }}</p>
                        <p class=""><strong>All Size:</strong> {{ order.allSize }}</p>
                        <p class=""><strong>Created At:</strong> {{ order.created_at }}</p>                                                                     
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>

    <h3  class="bg-dark text-white text-center mb-4">Tracker and contact details</h3>
    <div class="row justify-content-center">
        {% for i in contact %}
            <div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-3">
                <div class="card">
                    <p class=""> {{ i.msg_id }}</p>                       
                    <div class="card-body">
                        <h3><i class="fa fa-car" style="font-size:3   8px;color:red"></i> <strong>{{ i.option }}    </strong> </h3>
                        <br>                        
                         <h4>Customer details:</h4>
                        <p class=""><strong>First Name:</strong> {{ i.name }}</p>
                        <p class=""><strong>Last Name:</strong> {{ i.email }}</p>
                        <p class=""><strong>Phone:</strong> {{ i.phone }}</p>
                        <p class=""><strong>Address:</strong> {{ i.desc }}</p>                                                                
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>



{% endblock %}
